.footer {
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  color: black;
  margin-top: auto;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.6);
}

/* El <p> del footer */
.footer-text {
  margin: 0;
}
