<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proyecto ODS</title>

    {# Aquí puedes cargar tu CSS si tienes alguno en public/css #}
    {# <link rel="stylesheet" href="{{ asset('css/app.css') }}"> #}
</head>

<body>
    <div id="root"></div>

    {# React y ReactDOM desde CDN #}
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    {# Tu app.js #}
    <script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
